PORT=3001

POSTGRES_DB=dvdrental
# POSTGRES_HOST=localhost
POSTGRES_HOST=main-DB
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_SYNCHRONIZE=false

REDIS_HOST=redis-cache
# REDIS_HOST=localhost
REDIS_PORT=6379